:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}

.word-display {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.mx-auto {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hangman-design-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.5rem;
}

.wrong-letter {
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 2px solid #646cff;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  font-family: monospace;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.wrong-letters {
  width: fit-content;
  position: absolute;
  top: 10px;
  left: 15px;
}
.wrong-letters h3 {
  font-size: 1.4rem;
}

.wrong-letter-row {
  display: flex;
  justify-content: start;
  margin-bottom: 0.5rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.popup-content h2 {
  margin-bottom: 1.5rem;
}
.popup-content button {
  margin-top: 1rem;
}

.loading_hangman {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.loading-bar-container {
  width: 16rem;
  height: 1rem;
  background-color: #4b5563;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;
}

.loading-bar {
  height: 100%;
  background-color: #646cff;
  animation: loading 3s linear infinite;
}

@keyframes loading {
  0% { width: 0%; }
  100% { width: 100%; }
}

.animate-loading {
  animation: loading 3s linear forwards;
}

